@model List<WebApplication.Models.EF.ChuDe>

@foreach (var item in Model)
{
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="/chu-de/@item.MetaTitle-@item.ID">@item.TenCD</a></h4>
    </div>
</div>}

