@model List<WebApplication.Models.EF.Menu>

<ul class="nav navbar-nav collapse navbar-collapse">
    @foreach (var item in Model)
    {
<li><a href="@item.Link" target="@item.Target">@item.Text</a></li>}
</ul>
